Bottleneck
imageio
joblib
lazy_loader
mkl-service==2.4.0
mkl_fft
mkl_random
networkx
work
numpy
opencv-python~=4.10.0
opencv-python-headless~=4.10.0
packaging
pandas
pillow
Pygments==2.19.1
python-dateutil
pytz
scikit-image
scikit-learn
scipy
setuptools==72.1.0
six
threadpoolctl
tifffile
tzdata
wheel==0.45.1
